apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: isa-cloud-staging
  labels:
    app: redis
spec:
  type: ClusterIP
  ports:
  - name: redis
    port: 6379
    targetPort: 6379
  selector:
    app: redis
