apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: loki
  namespace: isa-cloud-staging
  labels:
    app: loki
    tier: infrastructure
spec:
  serviceName: loki
  replicas: 1
  selector:
    matchLabels:
      app: loki
  template:
    metadata:
      labels:
        app: loki
        tier: infrastructure
    spec:
      containers:
      - name: loki
        image: staging-isa-loki:amd64
        imagePullPolicy: IfNotPresent

        ports:
        - name: http
          containerPort: 3100
          protocol: TCP

        volumeMounts:
        - name: data
          mountPath: /loki

        resources:
          requests:
            cpu: 256m
            memory: 512Mi
          limits:
            cpu: 1000m
            memory: 2Gi

        livenessProbe:
          httpGet:
            path: /ready
            port: 3100
          initialDelaySeconds: 45
          periodSeconds: 10
          timeoutSeconds: 5

        readinessProbe:
          httpGet:
            path: /ready
            port: 3100
          initialDelaySeconds: 15
          periodSeconds: 5
          timeoutSeconds: 3

  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 20Gi
