apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: isa-cloud-staging
  labels:
    app: grafana
    tier: infrastructure
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 3000
    targetPort: 3000
    protocol: TCP
  selector:
    app: grafana
