apiVersion: v1
kind: Service
metadata:
  name: agent
  namespace: isa-cloud-staging
  labels:
    app: agent
    tier: applications
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
  selector:
    app: agent
