apiVersion: v1
kind: Service
metadata:
  name: nats
  namespace: isa-cloud-staging
  labels:
    app: nats
    tier: infrastructure
spec:
  type: ClusterIP
  ports:
  - name: client
    port: 4222
    targetPort: 4222
    protocol: TCP
  - name: monitoring
    port: 8222
    targetPort: 8222
    protocol: TCP
  - name: cluster
    port: 6222
    targetPort: 6222
    protocol: TCP
  selector:
    app: nats
