apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: isa-cloud-staging
  labels:
    app: postgres
    tier: infrastructure
spec:
  type: ClusterIP
  ports:
  - name: postgres
    port: 5432
    targetPort: 5432
    protocol: TCP
  selector:
    app: postgres
