apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: isa-cloud-staging
  labels:
    app: gateway
    tier: gateway
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8000
    targetPort: 8000
    protocol: TCP
  - name: grpc
    port: 8001
    targetPort: 8001
    protocol: TCP
  selector:
    app: gateway
