apiVersion: v1
kind: Service
metadata:
  name: openresty
  namespace: isa-cloud-staging
  labels:
    app: openresty
    tier: gateway
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
  - name: https
    port: 443
    targetPort: 443
    protocol: TCP
  selector:
    app: openresty
